{
  "extends": ["prettier"],
  "parser": "@babel/eslint-parser",
  "env": {
    "webextensions": true,
    "browser": true,
  },
  "globals": {
    "__FIREFOX__": true,
    "__CHROME__": true,
    "_gaq": true
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error", {
      "printWidth": 80,
      "singleQuote": true,
      "semi": false,
      "quoteProps": "consistent"
    }]
  }
}